.new-booking{
    background: white;
    padding: 4%;
}

label.booking-label {
    color: #50585f;
    font-weight: 700;
    font-size: .9rem;
}

label.booking-data-label {
    color: #50585f;
    font-size: .9rem;
}




.booking-header{
    padding: 2%;
    font-size: large;
    color: #67727b;
    font-weight: 400;
}
.booking-history-header{
    font-size: large;
    color: #67727b;
    font-weight: 400;
}   
.booking-input{
    font-size: 0.9rem;
}

.datepicker .datepicker-days table tr td.old,.datepicker .datepicker-days tr td.new{ 
    height: 0;
    line-height: 0;
    visibility: hidden; 
}

.booking-msg-title{
    color: green;
    margin-top: -1%;
    font-size: 1.5rem;
}
.booking-msg-body{
    font-size: 1rem;
}