
.validation_border_error{
border-color: red !important;
}

.validation_error{
color: red;
}

.restaurant_details_area {
    background: white;
    padding: 4%;
}

.booking-header {
    padding: 2%;
    font-size: large;
    color: #67727b;
    font-weight: 400;
}

label.restaurant_label {
    color: #50585f;
    font-weight: 700;
    font-size: .9rem;
}