body{
    color:black !important;
}
.upcoming_booking_header{
    color: #000000a1;
    font-weight: 700;
}   
.search-booking{
    padding: 5%;
}
.search_booking_table td{
    border-top: 1px solid #eef2f7 !important;
}
i.fas.fa-user-friends {
    font-size: 0.85rem;
}
/* .user a{
   color:#46a9ef !important;
} */
.filter_month,.download_month{
    font-size: 0.75rem;
}
.booking-filter-header,.booking-download-header{
    color: #000000ad;
}
.filter_active{
    color: #50585f !important;
    text-decoration:"none" !important;
}
.filter_active_restaurant{
    color: #50585f !important;
    text-decoration:"none" !important;
}
.filter_active_restaurant:hover{
    color: #50585f !important;
    text-decoration:"none" !important;
}
.filter_active:hover{
    text-decoration:"none" !important;
}
.user_details_tag{
    font-size: 0.73rem;
}