.widget-c1 {
    color: #0000009c;
}
.widget-c2 {
    color: #000000b0;
}
.widget-f1 {
    font-size: 0.9rem;
}
.widget-f2 {
    font-size: 0.8rem;
}



.has-icon .form-control {
    padding-left: 2.375rem;
}

.has-icon .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.ui-datepicker {
    width: inherit; /*what ever width you want*/
}

.ui-datepicker-title {
    font-size: 0.9rem !important;
}
.ui-datepicker th {
    font-weight: normal !important;
    font-size: 0.8rem !important;
}

.ui-widget-content {
    background:none !important;
    border: 1px solid #ced4da !important;
}
.ui-state-default{
    border: none !important; 
    background:none !important;
    color: #232020db !important;
    font-size:0.8rem !important;
    text-align: center !important;
} 

.ui-state-active{
    /* border: 1px solid #acdd4a !important;  */
    background: #3240B7 url(images/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x !important;
    font-weight: normal !important;
    color: #ffffff !important;
} 

/* .ui-widget-header .ui-icon {
    background-image: url(../images/left_arrow.png) !important;
} */

.ui-widget-header {
    border:none !important;
    background:  none !important;
    color:#000000b0 !important;
    font-weight: normal;
}
.ui-datepicker-prev span,
.ui-datepicker-next span {
  background-image: none !important;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:before {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  font-weight: normal;
  align-items: center;
  justify-content: center;
}

.ui-datepicker-prev:before {
  content: "\f100";
}

.ui-datepicker-next:before {
  content: "\f101";
}

.ui-datepicker-next-hover,.ui-datepicker-prev-hover{
    background: none !important;
    border: none !important;
    cursor: pointer !important;
}
#make_booking{
    background-color:#3240B7 !important;
    color:white !important;
    border: none !important;
    font-size: 16px !important;
}

td.timepicker-data {
    padding: 3px !important;
}
/* .timepicker-time{
    font-size: 18px !important;
} */
.timepicker-time-active {
    background-color: #3240B7 !important;
    border:none !important;
  }
.ui-state-highlight .ui-state-active{
    border-radius: 4px !important;
}
/* .has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
} */
.choose_language{
    background-color: #dbdbdb;
    color: rgba(0,0,0,.7);
    font-size: 0.7rem;
    padding: 0.3rem;
    /* height: 0.7rem; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
.active_language{
    background-color: #3240B7;
    color: white;
}
.error{
    border: 2px solid #ea5656;
}

.input_border{
    border: 1px solid #ced4da;
}


.modal-confirm {		
    color: #434e65;
    width: 525px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;   
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;		
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
    margin-left: 38% !important;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #423434c4;
    border-radius: 4px;
    background: #dff7e9;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #f1f1f1;
    outline: none;
}
.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}
.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
.modal-content{
    background: #47c9a2;
}
.booking-success-modal{
    text-align: center !important;
}

.error-modal-confirm .error-modal-content{
    background: #f78f75 !important;
}
.error-modal-content,.error-modal-header{
    background: #f78f75 !important;
}
.modal {
    background-color: #ccc8c859;
    opacity: 1 !important;
 }
 .powered_by{
     font-size:0.8rem !important;
     /* text-align: right !important; */
 }
 .powered_by a{
   color:#3240B7 !important;
}
.powered_by_navigation{
    cursor: pointer;
}
.is-available{
    background-color: #689f38;
    color: #fff;
    cursor: pointer;
}
.is-not-available{
    background-color: #f5f5f5;
    color: #4a4a4a;
    cursor: not-allowed;
}
span.timepicker-slot {
    width: 3.3rem;
    align-items: center;
    border-radius: 3px;
    display: inline-flex;
    font-size: .9rem;
    height: 2.2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    margin: .25rem;
}
.language-selection{
    text-align: right !important;
}
.validation_border_error,.phno_validation_error{
    border-color: red;
    font-size: 0.9rem;
}
.booking_mandatory_error{
    font-size: 0.9rem;
}
.validation_error_msg{
    font-size: 0.7rem;
}
.form-check-label{
    margin-top: 0.07rem !important;
}
.table_not_available_error{
    font-size: 0.8rem;
}